$List1 : 200px;
$List2 : 1px 2px 3px black,;
$List3 : Helvetica, Arial, sans-serif;

$zip1: 1px 2px 3px 4px;
$zip2: 4em 3em 2em 1em;
$zip3: black green blue red;

$NestedList :   1px 2px 3px green,   6px 7px 8px blue,   3px 2px 1px yellow;

html{
      width: length( $List2 ) ;
      box-shadow: nth( $NestedList , 2 ) ;
      text-shadow: set-nth( $NestedList , 3 , 0em 1em .5em brown ) ;
      height: list-separator( $List3 ) ;
      line-height: join( $NestedList , $List3,  comma ) ;
      font: append( $zip3 , gray ) ;
      font-size: index( $NestedList , 3px 2px 1px yellow ) ;
      background: zip( $zip1 , $zip2 , $zip3 ) ;
}

$BasicMap : (
      'KeyName'    : 'Value',
      'AnotherKey' : 200px
);

$Map1 : (
      'KeyName'    :  'targeting a key produces it\'s value!',
      'String'          :  string,
      'Number'      :  102,
      'List'             :  ( background .2s,  color .3s ),
      'NestedMap' :  (
            'NestedKey' :  'Nested value',
            'url'              :  "../images/nestedImg.png",
            'Width'         :  300px
      )
 );

 $Map2 : (   'key1' : 'value1',   'key2' : 'value2',   'key3' : 'value3' );
