.foo {
  content: "KeyName", "AnotherKey";
  content: "Value", 200px;
  content: true;
  content: "targeting a key produces it's value!";
  content: ("KeyName": "Value", "AnotherKey": 200px, "key1": "value1", "key2": "value2", "key3": "value3");
  content: ("key3": "value3");
}
