#grid > div {
   height: 25px;
   background: #ccc;
   border: 1px solid #aaa;
   box-sizing: border-box;
   float: left;
}

$max: 16;

@for $i from 1 through $max {

   $equ: 100% / $i ;

   #grid.cell-#{ $i } > div {
      width: $equ;
   }
}
