$a : 16px;    $b : 32px;    $c : 4.5px;   $d : -12px;

$eq : 4 - ( 6 + $b );

div{
      width: 5 + 10 + $a - $b * 2 / $c ;
      width: round( 5 + 10 + $a - $b * 2 / $c ) ;
      width: floor( 5 + 10 + $a - $b * 2 / $c );
      width: ceil( 5 + 10 + $a - $b * 2 / $c - .4 ) ;
      width: percentage( 4.5 );
      width: abs( $d );
      width: min( 10, 20, 50, 50.1, $a );
      width: max( 10, 20, 50, 50.1, $a );
      width: random( 100 );
      height: $b % $c ;
      line-height: $eq ;
}
