@import 'import.css';
@import '_MainMixins.scss';
@import '_import.sass';

html{
      background: $primary;
      @include properties( green );
      @include boxShadow( 1px 2px 3px rgba(0,0,0,.4), 1px 2px 3px red );
      @include transition( background .2s, height .4s );
}

@include keyframes ( myAnim ) {
      0% { opacity: 0 }
      100% { opacity: 1 }
}
