$type : element;
$num : 10;
$noValue : null;
$eq : $num + 1;

html {
      @if $type == helloWorld { content: "Yup TRUE!"; }
      @else if $noValue != null { content: "Doesn't match null"; }
      @else { content: "Nope False!"; }

      @if  $eq == 12          { width: 11px; }
      @else if  $eq != 11    { width: 12px; }
      @else if  $eq > 11     { width: 13px; }
      @else if  $eq < 11     { width: 14px; }
      @else if  $eq <= 9   { width: 15px; }
      @else if  $eq >= 12   { width: 16px; }
      @else                       { width: 0px; }
}

@if $eq == 11 {
      body{
            width: 11px;
      }
}
