<!DOCTYPE html>
<html lang="en-us" ng-app="myApp">

<head>
    <title>Learn and Understand AngularJS</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="UTF-8">

    <!-- load bootstrap and fontawesome via CDN -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="style.css" />

    <!-- load angular via CDN -->
    <script src="//code.angularjs.org/1.3.0-rc.1/angular.min.js"></script>
    <script src="app.js"></script>
</head>

<body>

    <header>
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">AngularJS</a>
                </div>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container">

        <div ng-controller="mainController">

            <div class="col-md-12">
                <label>What is your Twitter handle?</label>
                <input type="text" ng-model="handle" id="name" ng-trim="false" maxlength="140" />
                <span id="char">{{140 - handle.length}}</span>
            </div>

            <hr />
            <h1 ng-model="tb">twitter.com/{{ lowerCaseHandle() }}</h1>

        </div>

    </div>

</body>

</html>
