html,
body,
input,
select,
textarea {
    font-size: 1.05em;
}

#char {
    background: lightgray;
    float: right;
    border: 5px solid lightgray;
    border-radius: 15px;
    font-size: 14px;
    font-weight: 600;
    display: inline;
}
